In [1]:
import pandas as pd
import numpy as np

In [22]:
df1 = pd.read_csv('interrupcoes-energia-eletrica-2019.csv', encoding = 'latin1', delimiter = ';', usecols=[2, 8])
df2 = pd.read_csv('interrupcoes-energia-eletrica-2020.csv', encoding = 'latin1', delimiter = ';', usecols=[2, 8])
df3 = pd.read_csv('interrupcoes-energia-eletrica-2021.csv', encoding = 'latin1', delimiter = ';', usecols=[2, 8])
df4 = pd.read_csv('interrupcoes-energia-eletrica-2022.csv', encoding = 'latin1', delimiter = ';', usecols=[2, 8])
df5 = pd.read_csv('interrupcoes-energia-eletrica-2023.csv', encoding = 'latin1', delimiter = ';', usecols=[2, 8])

In [23]:
df = pd.concat ([df1,df2,df3,df5,df5])
dfParilheiros = df[df['DscConjuntoUnidadeConsumidora']=='PARELHEIROS'].copy()

dfParilheiros

        DscConjuntoUnidadeConsumidora DatInicioInterrupcao
3838064                   PARELHEIROS  2019-03-02 13:48:13
3838155                   PARELHEIROS  2019-09-09 20:53:54
3838169                   PARELHEIROS  2019-03-12 08:24:55
3838189                   PARELHEIROS  2019-01-10 12:11:35
3838371                   PARELHEIROS  2019-01-10 11:40:12
...                               ...                  ...
4487770                   PARELHEIROS  2023-12-06 03:18:07
4487902                   PARELHEIROS  2023-12-06 09:30:28
4488018                   PARELHEIROS  2023-12-05 18:13:30
4488047                   PARELHEIROS  2023-12-05 16:23:27
4488098                   PARELHEIROS  2023-12-05 18:19:01

[18062 rows x 2 columns]

In [34]:
dfParilheiros = dfCompilado2019_2022

In [35]:
dfCompilado2019_2022

      DscConjuntoUnidadeConsumidora DatInicioInterrupcao        Data  Hora
0                       PARELHEIROS  2019-03-02 13:48:13  2019-03-02    14
1                       PARELHEIROS  2019-09-09 20:53:54  2019-09-09    21
2                       PARELHEIROS  2019-03-12 08:24:55  2019-03-12     8
3                       PARELHEIROS  2019-01-10 12:11:35  2019-01-10    12
4                       PARELHEIROS  2019-01-10 11:40:12  2019-01-10    12
...                             ...                  ...         ...   ...
18057                   PARELHEIROS  2023-12-06 03:18:07  2023-12-06     3
18058                   PARELHEIROS  2023-12-06 09:30:28  2023-12-06     9
18059                   PARELHEIROS  2023-12-05 18:13:30  2023-12-05    18
18060                   PARELHEIROS  2023-12-05 16:23:27  2023-12-05    16
18061                   PARELHEIROS  2023-12-05 18:19:01  2023-12-05    18

[18062 rows x 4 columns]

In [29]:
# Converter as colunas de tempo na tabela de quedas de energia
dfCompilado2019_2022['DatInicioInterrupcao'] = pd.to_datetime(dfCompilado2019_2022['DatInicioInterrupcao'])

# Extrair apenas a data e arredondar a hora das interrupções
dfCompilado2019_2022['Data'] = dfCompilado2019_2022['DatInicioInterrupcao'].dt.date
dfCompilado2019_2022['Hora'] = dfCompilado2019_2022['DatInicioInterrupcao'].dt.hour + np.round(dfCompilado2019_2022['DatInicioInterrupcao'].dt.minute / 60)

# Certificar que a coluna 'Hora' tenha valores inteiros
dfCompilado2019_2022['Hora'] = dfCompilado2019_2022['Hora'].astype(int)

In [32]:
# Agrupar as interrupções por Data e Hora, e contar o número de ocorrências
energia_agrupada2019_2022 = dfCompilado2019_2022.groupby(['Data', 'Hora']).size().reset_index(name='num_ocorrencias')

# Ensure the 'Data' column in energia_agrupada is of datetime type
energia_agrupada2019_2022['Data'] = pd.to_datetime(energia_agrupada2019_2022['Data'])

In [36]:
#salvar em csv
energia_agrupada2019_2022.to_csv('interrupcoes_Parilheiros_2019-2023.csv', index=False)